.homepage-main2 {
  background-image: image-url('homepage/main2.jpg');
  background-size: cover;
  background-position: 50%;
  height: 800px;

  h1 {
    font-size: 3.5rem;
    font-weight: 500;
    color: white;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}
